/*här sätter jag själva grund boxen*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  text-align: center;
}

/*lite grundregler/globala*/
body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 1.4em;
  line-height: 1.4;
  background-color: rgb(104, 205, 212);
  color: black;
  

}
main{
  padding: 0;
  display: block;
}
.container{
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.main-header{
  background-image: linear-gradient(rgba(104, 205, 212, 0.1), rgba(104, 205, 212, 0.4)), url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30vh;
}

.logga {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 1));
   float: left;
   margin: 10px;
}

.main-header div{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
  clear: both;
}

/*här definierar jag mina menyer*/
.main-header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-shadow: 0 0 2px rgba(251, 253, 253, 0.7);  
}
.main-header nav li{
display:flex;
float: right;
margin-left: 10px;
font-weight: bold;
}


.main-header nav li a, .main-header nav li a:visited {
  display: block;
  color: black;
  
  height: 50px;
  padding: 0 1em 0 1em;
  line-height: 50px;
  text-decoration: none;
  background-color: rgba(51, 133, 139,0.7);
  transition: background-color 0.3s;
  margin-top: 1vh;
  
  
}
.main-header li.current-item a, .main-header li.current-item a:visited, .main-header nav li a:hover {
background-color: rgba(51, 133, 139, 1);
  color: black;
}
ul li a:active {
  color: black;
  background-color: rgba(51, 133, 139, 1);
}

/*nu börjar utseendet på huvidsidan avklaras*/
main {
  margin: 0;
  border: 0;
}

.index-one, #photos-main {
    display: block;  
    block-size: inherit;
    margin-bottom: 20px; 
    }
.index-one{
  background-color: rgb(51, 133, 139);
  margin-left: 20vw;
  margin-top: 10vh;
  padding: 20px;
  border-bottom-left-radius: 50px;
}

#photos-main{
  display: flex;
  align-items: flex-start; 
 
  
}

#photos-main img {
  width: 100%;
  max-width: 330px;
  height: auto;
}

.photosection {
  margin-top: 80px;
  background-color: brown;
  padding: 20px;
  border-bottom-left-radius: 50px;
  padding-left: 30px;
 
}
.photosection ul {
margin-left: 10px;


}

.photosection p {
  margin: 20px;




}
.photosection li{
  text-align: left;
  padding-left: 5px;

}
.photosection img{
  max-height: 300px;
  width: auto;
}


@media (max-width: 600px){
  body {
    background-color: chartreuse;
  }
  
.main-header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;

}
.main-header nav li{
display:inline-block;
}


.main-header nav li a, .main-header nav li a:visited {
  display: block;
  color: black;
  text-emphasis: strong;
  height: 50px;
  padding: 0 1em 0 1em;
  text-decoration: none;
  background-color: rgba(51, 133, 139,0.7);
  transition: background-color 0.3s;


}
}