@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*här sätter jag själva grund boxen*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  text-align: center;
}

/*lite grundregler/globala*/
body {
  font-family: "Rubik",sans-serif;
  text-transform: lowercase;
  font-size: 1.4em;
  line-height: 1.4;
  background-color: rgb(149, 178, 211);
  color: black;
  

}
main{
  padding: 0;
  display: block;
}
.container{
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.main-header{
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(149, 178, 211, 0.4)), url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30vh;
}

.logga {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1))
  drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
   float: left;
   margin: 10px;
}

.main-header div{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
  clear: both;
}

/*här definierar jag mina menyer*/
.main-header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-shadow: 0 0 2px rgba(251, 253, 253, 0.7);  
}
.main-header nav li{
display:flex;
float: right;
margin-left: 10px;
font-weight: bold;
}


.main-header nav li a, .main-header nav li a:visited {
  display: block;
  color: black;
  height: 50px;
  padding: 0 1em 0 1em;
  line-height: 50px;
  text-decoration: none;
  background-color: rgba(107, 149, 226,0.4);
  transition: background-color 0.3s;
  margin-top: 1vh;
  
  
}
.main-header li.current-item a, .main-header li.current-item a:visited, .main-header nav li a:hover {
background-color: rgba(107, 149, 226, 1);
  color: black;
}
ul li a:active {
  color: black;
  background-color: rgb(107, 149, 226);
}

/*nu börjar utseendet på huvidsidan avklaras*/
main {
  margin: 0;
  border: 0;
}


.index-one{
  background-color: rgb(107, 149, 226);
  margin-left: 20vw;
  margin-top: 10vh;
  padding: 20px;
  border-bottom-left-radius: 50px;
}

#photos-main{
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  flex-wrap: wrap; 
 
  
}

#photos-main img {
  width: 33.3%;
  max-width: 990px;
  height: auto;
  object-fit: contain;
  margin-top: 1vh;
}

.photosection {
  margin-top: 80px;
  background-color: rgb(107, 149, 226);
  padding: 30px;
  border-bottom-left-radius: 50px;
  
  
 
}
.photosection ul {
margin-left: 10px;

}

.photosection p {
  margin: 20px;
}
.photosection li{
  text-align: left;
  padding-left: 5px;

}

.photos{
   display: flex;  
   align-items: flex-start;        
  justify-content: space-between; 
  flex-wrap: wrap;   
}

.photos img{
  width: 48%;         
  max-width: 990px;       
  height: auto;           
  object-fit: contain; 
}
.aboutme img{
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
}

.aboutme{
  background-color: rgb(107, 149, 226);
  margin-left: 20vw;
  margin-top: 10vh;
  padding: 20px;

  border-bottom-left-radius: 50px;
}
@media (max-width: 750px){
  body {
    background-color: rgb(149, 178, 211);
  }
  
  .main-header {
    height: 35vh;
  }
.main-header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;

}
.main-header nav li{
display:inline-block;
}


.main-header nav li a, .main-header nav li a:visited {
  display: block;
  color: black;
  height: 50px;
  padding: 0 1em 0 1em;
  transition: background-color 0.3s;

}
.index-one, .photosection {
  background-color: rgb(149, 178, 211);
  margin-left: 0;
  margin-top: 1vh;
  padding: 20px;


  }
  .aboutme {
    margin-top: 1vh;

  }
}