/*här sätter jag själva grund boxen*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  text-align: center;
}

/*lite grundregler/globala*/
body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 1em;
  line-height: 1.4;
  background-color: rgb(0, 0, 255);
  color: black;
  

}
main{
  padding: 0;
  display: block;
}
.container{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.main-header{
  background-image: linear-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.4)), url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30vh;
}


.main-header div{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

/*här definierar jag mina menyer*/
.main-header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
  
}
.main-header nav li{
display:flex;
float: right;
margin-left: 10px;
}


.main-header nav li a, .main-header nav li a:visited {
  display: block;
  color: black;
  text-emphasis: strong;
  height: 50px;
  padding: 0 1em 0 1em;
  line-height: 50px;
  text-decoration: none;
  background-color: rgba(165, 42, 42,0.7);
  transition: background-color 0.3s;
  margin-top: 21vh;
  
  
}
.main-header li.current-item a, .main-header li.current-item a:visited, .main-header nav li a:hover {
background-color: rgba(165, 42, 42, 1);
  color: black;
}
ul li a:active {
  color: black;
  background-color: darkgrey;
}

/*nu börjar utseendet på huvidsidan avklaras*/
main {
  margin: 0;
  border: 0;
}

.index-one, #photos-main {
    display: block;  
    block-size: inherit;
    margin-bottom: 20px; 
    


}
.index-one{
  background-color: aqua;
  margin-left: 20vw;
  margin-top: 10vh;
  padding: 20px;
  border-bottom-left-radius: 50px;
}

#photos-main{
  background-color: beige;
}

.photosection {
  margin-top: 80px;
  background-color: brown;
  padding: 10px;
  border-bottom-left-radius: 50px;
}

@media (max-width: 600px){
  body {
    background-color: chartreuse;
  }
  
.main-header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;

}
.main-header nav li{
display:inline-block;

}


.main-header nav li a, .main-header nav li a:visited {
  display: block;
  color: black;
  text-emphasis: strong;
  height: 50px;
  padding: 0 1em 0 1em;
  text-decoration: none;
  background-color: rgba(165, 42, 42,0.7);
  transition: background-color 0.3s;


}
}